body {
    background-color: #202A5F;
    padding-top: 50px;
    width: 100%;
}

input[type=text], input[type=password], button, #d {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    width: 80%;
    border: none;
    -webkit-appearance: none;
    outline: none;
    color: #202A5F;
}

button {
    cursor: pointer;
    background-color: white;
}

@media all and (min-width: 1024px) {
    input[type=text], input[type=password], button, #d {
        width: 300px;
    }
}

